body {
	font-family: 'Courgette', cursive;
	background-image: url("../images/flower-background.jpg");
}

.jumbotron {
	background-color: #cc0000;
}

#game-box {
	font-size: 2em;
	background-image: url("../images/green_cup.png");
}

footer {
	color: #fff;
	background-color: black;
	padding: 1em;
}

